[2015-12-11 02:22] binarykitchen opened #1 "npm publish it?"
would be good

[2015-12-11 03:30] aackerman commented on #1
Sure done. I added a few tests as well.

[2015-12-11 03:31] #1 closed

[2015-12-11 03:40] binarykitchen commented on #1
thanks, it works fine.

i ll add few more tickets with some ideas.

[2015-12-11 03:41] binarykitchen opened #2 "Add option to exclude some files via glob or regex"
Would be neat, thanks

[2015-12-11 03:44] binarykitchen opened #3 "File listings should be relative from the project folder"
Currently the plugin lists all file paths having circular dependencies in absolute paths. This is too wide in my console.

Would be good to list them just relative from the project folder.

[2015-12-11 23:26] #3 closed

[2015-12-11 23:40] #2 closed

[2015-12-13 21:03] binarykitchen commented on #3
wonderful, works fine, thx

[2015-12-13 21:22] binarykitchen commented on #2
works well, thanks!

[2016-01-29 03:12] binarykitchen opened #4 "TypeError: Path must be a string. Received undefined"
[code]

[2016-01-29 13:20] aackerman commented on #4
Can you do some simple debugging for this and `console.log` the values passed to `path.relative`

Adjust the code in your node_modules to look something like this.

[code]
Otherwise I'm not sure why those values would be undefined.

[2016-02-01 21:05] binarykitchen commented on #4
sorry, can't help now ... leave this ticket open for later or someone else helps

[2016-02-06 12:16] jeremejevs commented on #4
Same issue for me, getting the following:

[code]

And then it throws `Path must be a string. Received undefined`.

[2016-02-06 14:59] #4 closed

[2016-09-07 11:36] renehamburger opened #8 "Suppress warning if any dependency in the circular chain is loaded completely"
Thanks for the plugin!

I'm in a situation where circular dependencies cannot be avoided altogether, but where some of the require calls can be postponed until the dependent modules are loaded completely. Here's an example:

[code]

[code]

As far as I can see, your plugin would flag this as a circular dependency, but it shouldn't be a problematic one, as module b could be required _before_ it req

[2016-09-07 12:24] aackerman commented on #8
Yea, I would imagine you would use the `exclude` regex option. There is an example in the README. Please let me know if that isn't enough information to solve this issue.

[2016-09-08 08:06] renehamburger commented on #8
Yes, I could suppress the warning/error manually for circular dependencies that are not problematic. But my point is that the warning/error shouldn't be there in the first place if the circular dependency chain can be resolved by webpack, i.e., if one of the modules can be loaded because it requires it's successor after it has been loaded completely. Do you see what I mean?

[2016-09-08 12:38] aackerman commented on #8
If I understand you correctly, you expect your code to not error. But you would expect something like the following to error.

[code]
[code]

That type of static analysis is not something that can not be provided by this tool. Webpack itself analyzes `import` and `require` calls to build a dependency graph and construct a module bundle, it doesn't do any analysis of runtime semantics and this tool

[2016-09-08 12:38] #8 closed

[2016-09-26 21:12] Diarsid opened #10 "ReferenceError: CircularDependencyPlugin is not defined"
Hi!
I cannot get your plugin working :(
I installed plugin via

My config:
[code]
Trying to pack it, i got following message:
[code]
I'm not proficient in JS, so I could make a mistake somewhere in configuration, but I don't see it. Please, correct me, or fix this issue.
Thanks.

[2016-09-26 21:20] Diarsid commented on #10
Sorry! It is my stupid mistake, I've forgotten to require plugin. Stupid mistake.
One more sorry.

[2016-09-26 21:20] #10 closed

[2016-10-17 22:30] wlingke opened #11 "Amazing module... Can this be ported to non-webpack plain nodejs?"
I'd love to run this for my nodejs server. Do you think you could port this to use without webpack?

[2016-10-17 23:42] aackerman commented on #11
Can you explain how you would expect to use a module in node to discover circular dependencies?

I feel like this could work easily with webpack using the `node` target, as a part of CI verification.

Without webpack would require overloading node's `require()` method.

[2016-10-18 03:29] wlingke commented on #11
I was thinking more as a static analysis tool for non-webpack stuff (like
servers).

I think this is also more likely to be run on a one-off basis before a
commit as part of a task than as continuously during dev. The performance
isn't bad but it does slow down my reload when I plug it into my webpack
watcher. Also I don't really think its necessary to be continuously
verifying, it's pretty rare t

[2016-12-01 18:12] vitalets commented on #11
@wlingke you can use [madge](https://github.com/pahen/madge) for that.
We used it for a long time before and it works fine.

[2016-12-01 18:18] wlingke commented on #11
Ah okay thanks!
On Thu, Dec 1, 2016 at 10:12 AM, Vitaliy Potapov <notifications@github.com>
wrote:

[2016-12-02 13:18] #11 closed

[2016-12-28 10:50] baconalot opened #12 "add require to readme.md"
could you add `var CircularDependencyPlugin = require('circular-dependency-plugin');` to the readme?

[2016-12-28 13:10] aackerman commented on #12
Done

[2016-12-28 13:10] #12 closed

[2017-03-06 02:25] ntucker opened #13 "Support import function"
Here in webpack 2: https://webpack.js.org/guides/code-splitting-import/
Spec: https://github.com/tc39/proposal-dynamic-import

[2017-03-06 13:38] aackerman commented on #13
Are you running into an error when attempting to use a dynamic import? I'm unclear on what is preventing this from being used right now.

[2017-03-07 18:01] ntucker commented on #13
Sorry, I don't know why I was having an issue before but it seems to be working now. I'll reopen if I have repro but I think it just entered a weird state.

Thanks for getting back to me! :)

[2017-03-07 18:01] #13 closed

[2017-04-25 15:52] calvinmetcalf opened #15 "better messaging"
it might be helpful to update the messaging that this plugin has when it detects a circular-dependency as some users are seeing the errors in dependent modules and reporting them, I can create a pull that notes that a circular dependency isn't an error by itself or some such

see react-bootstrap/react-bootstrap#2147, nodejs/readable-stream#280, and unshiftio/url-parse#49

[2017-04-25 16:01] aackerman commented on #15
@calvinmetcalf please do. I believe the default is warnings and you have to opt-in to errors, but I can see from your references that there have been some misunderstandings about how this project is intended to be used.

[2017-05-03 16:35] levsthings opened #17 "Type definitions for TypeScript"
Would there be any interest in adding a type definition file to the repo? I have a type definition ready for this package.

[2017-05-03 17:20] aackerman commented on #17
Can you post it as part of a comment? I'm unclear on what benefit a TS/Flow user would get from it for this project.

[2017-05-03 17:35] levsthings commented on #17
Well, you can't just use a module without type definitions in a TypeScript projects, you get errors.

So we either
1- Add local definitions
2- Submit definitions to the module itself.
3- Submit definitions to [this repository](https://github.com/DefinitelyTyped/DefinitelyTyped).

[code]

[2017-05-03 17:51] aackerman commented on #17
Can you explain more about what you mean by this?

[2017-05-03 18:00] aackerman commented on #17
Aside from that yes, I would accept a PR for adding the types. I assume in an `index.d.ts` file?

[2017-05-03 18:26] levsthings commented on #17
Sorry if I wasn't clear in my initial message.

The testing part was for this option:

According to their contribution guidelines, a contributor has to submit the types along with some tests. If someone wrote those tests and add the definition file to DefinitelyTyped, then TS users are able to get these via:
`npm install circular-dependency-plugin`
`npm install @types/circular-dependency-plugin`

[2017-05-03 18:28] aackerman commented on #17
I was just unclear about what tests could be created for a type definition file.

Please do go ahead and submit a PR to add the type definitions.

[2017-05-09 20:25] jedmao commented on #15
I think a simple `logLevel` option might make everyone happy.

[2017-06-14 12:30] #15 closed

[2017-08-09 20:10] gpoitch opened #19 "Detection with the ModuleConcatenationPlugin"
When using the `webpack.optimize.ModuleConcatenationPlugin` introduced in webpack 3, it appears that this plugin in unable to detect a lot of circular dependencies.

When removing ModuleConcatenationPlugin, it outputs more warnings.

[2017-08-09 20:11] aackerman commented on #19
Thanks for the info, I haven't done much testing with Webpack 3. I'll look into it.

[2017-08-16 18:11] vkammerer opened #20 "Option to exclude circular dependencies chains including a module"
Hello,

Thank you for the great plugin!

I have a module 'moduleA' in my project which I would like to exclude from the circular dependency check. I can use the "exclude" option":
[code]

But I would also like to be able to exclude any circular dependency traversing 'moduleA'... For now, the "exclude" option only tests the resource of the module being compiled, but doesn't test on the chain of the

[2017-08-16 19:20] aackerman commented on #20
Hi, @vkammerer. Can you explain further?

You're saying that exclude will ignore something like:

`moduleA -> moduleB -> moduleA`

but not

`moduleB -> moduleA -> moduleC -> moduleA`?

[2017-08-16 20:36] vkammerer commented on #20
Yes, with your last line being
[code]
Isn't it how you designed the option?

[2017-08-21 22:58] aackerman commented on #19
@gpoitch I believe these plugins are usually run in order, when you were using the `ModuleConcatenationPlugin` was it before the `CircularDependencyPlugin`?

[2017-08-21 23:18] gpoitch commented on #19
I tested both before and after.  I believe the issue is that this plugin runs on the 'done' plugin event, at which point the [ModuleConcatenationPlugin](https://github.com/webpack/webpack/blob/f75418f6683af5e7cab86d67d896bf5001075836/lib/optimize/ModuleConcatenationPlugin.js) has already did its thing (merged/hoisted dependencies).

It makes sense that _some_ circular dependencies could actually b

[2017-08-22 00:57] aackerman commented on #20
I've published version 4 that allows a consumer to provide an `onDetected` option. This will allow you to accomplish the behavior you want. I'm going to go ahead and close this.

[2017-08-22 00:57] #20 closed

[2017-08-22 01:59] gpoitch commented on #19
@aackerman Here's a minimal reproduction: https://github.com/gpoitch/webpack-circ-dep-bug

[2017-08-22 13:16] vkammerer commented on #20
ok great thank you!

[2017-08-22 16:18] aackerman commented on #19
@gpoitch thanks, I imagine this will help a lot in addressing this issue.

[2017-08-22 23:28] aackerman commented on #19
This should be fixed in version 4.1.0

[2017-08-22 23:28] #19 closed

[2017-08-23 00:00] gpoitch commented on #19
👏 thanks!

[2017-08-30 06:02] giniedp opened #24 "improve readability of the error output"
I have following suggestions to improve the readability of the error output

1. The base statement. Right now if webpack spits out the warnings it reads like this
```WARNING in Circular dependency detected:```
i'd suggest to use the name of the plugin, like this
```WARNING in [circular-dependency-plugin]:```
This however does not improve readability. Its just a personal preference.

2. The line le

[2017-08-30 11:19] aackerman commented on #24
I'll take this into consideration, but I'm not changing the base output right now. In v4.x I've provided the `onDetected` method as an escape hatch for customization.

Please take a look at that and let me know if it doesn't resolve your concerns.

[2017-08-30 11:19] #24 closed

[2017-08-30 14:35] giniedp commented on #24
i actually use my own implementation, based on your source. My intention was to share my improvements which i think some devs would be happy to see. Actually points 2. and 3. are the main reasons why i had to roll up my own implementation.

Points 1. and 2. are solvable with `onDetected`. That callback is nice to have for little adjustments like the log format. But point 3. is a bit more complicat

[2017-09-01 13:05] aackerman commented on #24
@giniedp do you have a specific example where a circular dependency is reported more than one time?

[2017-09-01 13:17] giniedp commented on #24
if `foo.ts` and `bar.ts` both require each other, then the plugin reports 2 detections

`foo.ts -> bar.ts -> foo.ts`

and

`bar.ts -> foo.ts -> bar.ts`

[2017-09-14 19:43] j3tan opened #25 "Clarification on `exclude` option"
Wonderful plugin, just wanted some documentation/clarification on the `exclude` option. I had to read the source to figure out passing `onDetected` would still fire for `node_modules` even with `exclude: /node_modules/` set. i.e. I just copy and pasted the example code and nothing was getting excluded. Alternatively, just move the `exclude` test above the `onDetected` handler

Version 4.2.0

Thank

[2017-09-14 19:47] j3tan commented on #25
Whoops, just realized it is commented in the example. Maybe have separate examples?

[2017-09-14 20:03] #25 closed

[2017-09-18 14:51] Retsam commented on #24
I'm seeing the same behavior, if I have N files in a circular reference, I'll see N lines of output for the chain.

Here's a gist with a full example: https://gist.github.com/Retsam/9c35799c3b1867d9a1170f8c04301308, and here's the output I get when I webpack it:

[code]

[2017-09-19 14:51] oomathias commented on #25
Same here, I got confused when defining `onDetected`.
2 distinct examples would be better for those, like me, who didn't read everything 🤦‍♂️

[2017-09-19 23:49] aackerman commented on #25
I went ahead and split this up in 4.2.1 to make it even more clear

[2017-10-30 06:48] petrleocompel opened #26 "Changelog !! No info about changes"
I had version 3.0.0. Now version 4.2.1 is out. I want to upgrade but there is no info what have been done.
No info about breaking changes...
In your releases is nothing. And you dont have even changelog.
Only info is in your commits. But commit is not a changelog.

Please start making CHANGELOG - http://keepachangelog.com

[2017-11-27 04:15] emilio-martinez commented on #26
@aackerman Ping.

I think this is fairly important. Not that every detail is needed in the changelog, but at a minimum, it would be great to know what the breaking changes are—if any. As mentioned above, it's unclear what the major version bump was due to.

[2017-12-06 12:32] tanekim77 opened #28 "TypeError: Path must be a string. Received undefined"
I see a flaw in the code.
On top, it uses "let cwd = process.cwd()".
This will not work if I run webpack in different directory. Many people nowadays have separate Server and Client folders. And the server runs webpack on client folder when building.
At that point, cwd=process.cwd() will be a server path, while cwd is supposed to be Client path.
Please at least give an option for a user to customi

[2017-12-06 13:14] #28 closed

[2017-12-06 20:58] RyanAtBarefoot opened #29 "Doesn't seem to be working in create-react-app based build"
Hi,

I've added this to my create-react-app based build that I ejected and have only adding this plugin too but I just manually fixed a circular dependency and the tool never warned me about it.

Here's my config

[code]

Is there anything I can do to debug this or to run it in isolation? I've used it on other projects and I know it works. Maybe the create-react-app build is swallowing the errors.

[2017-12-06 21:28] RyanAtBarefoot commented on #29
Here's the output of just running that config file through webpack on the command line

[code]

[2017-12-06 21:36] aackerman commented on #29
Can you explain the flow of circular dependencies and their approximate file locations on disk that you would have expected the module to catch?

[2017-12-06 21:53] aackerman commented on #29
Separately you can open `node_modules` and add `console.log` statements to the module to figure out if it is or isn't being invoked, which would help to determine if this is a configuration problem or if the module is not interacting correctly with CRA.

[2018-01-10 16:50] elijahdorman commented on #26
A changelog would be amazing!

[2018-01-13 03:45] aackerman commented on #29
I'm going to close this, because there has been no response for a month.

[2018-01-13 03:45] #29 closed

[2018-01-13 03:46] aackerman commented on #17
I'm going to close this as it's not something I'm willing to take on myself, but I would still accept a PR.

[2018-01-13 03:46] #17 closed

[2018-01-13 03:56] #26 closed

[2018-01-30 01:57] vikasraj789 commented on #25
version: 4.4.0
The issue of exclude option not being honoured when onDetected is available still exists.
Below is the configuration:
[code]

[2018-01-30 13:25] aackerman commented on #25
`onDetected` is for advanced usage, you're on your own for everything aside from detection. It's very easy to exclude modules you don't want to see.

[code]

[2018-02-09 07:36] bluepnume opened #31 "Importing flow types causes circular dependency error"
First off -- amazing plugin, and this has saved me from a bunch of problems. Thank you so much!

The issue I'm seeing is this:

[code]

[code]

This will cause circular-dependency-plugin to fail. But this makes it very difficult to do things like dependency injection, when the dependency isn't declared statically, but it's passed in.

I get that some people may wish to guard against this, still --

[2018-02-20 21:17] Fer0x commented on #29
Had the same problem caused by paste `new CircularDependencyPlugin(...)` to `resolve.plugins` instead of just `plugins` inside webpack config.

[2018-02-20 21:20] aackerman commented on #29
Thanks @Fer0x that seems to be a clear fix to this issue.

[2018-02-25 18:17] andy128k opened #32 "Webpack 4 deprecation warning"
Webpack 4 prints following deprecation warning when CircularDependencyPlugin is enabled.

[code]

[2018-03-20 17:05] #32 closed

[2018-03-20 17:48] ulfryk opened #34 "Version 5 doesn't work with webpack 4 (while 4+ works quite well)"
[code]

from config:

[code]

[2018-03-22 02:11] aackerman commented on #34
I've released 5.0.1 that sets the peer dependency to 4.0.1 or greater for webpack.

[2018-03-22 02:11] #34 closed

[2018-04-10 22:12] zlk89 opened #35 "Error: "Path must be a string.". Doesn't work with DllReferencePlugin"
Getting error when using with `DllReferencePlugin`:
[code]

Tried to log the `depModule` which doesn't have resource:

[code]

Dependencies:
[code]

webpack plugins:
[code]

And I found a workaround which fixes this issue:
Using different webpack object for `DllReferencePlugin`, i.e., something like this
[code]

[2018-04-13 00:34] jessehon opened #36 "Publish release branches or version tags"
It will be really helpful for find commits if the repository had release branches and/or version tags

[2018-04-13 01:03] aackerman commented on #35
I believe this is fixed in `5.0.2`.

[2018-04-13 01:03] #35 closed

[2018-04-30 11:25] 0xc0d3r opened #38 "TypeError: Cannot read property 'compilation' of undefined"
I'm trying to integrate circular-dependency-plugin to see the circular imports in storybook's `webpack.config.js`. Here is my webpack config

`webpakc.config.js`
[code]

After running `npm run storybook`, we are getting this error. `TypeError: Cannot read property 'compilation' of undefined`.

storybook version: 3.3.15.

Thanks!

[2018-04-30 16:13] aackerman commented on #38
What versions of the plugin and webpack are you using?

[2018-05-01 04:35] 0xc0d3r commented on #38
circular-dependency-plugin version: `5.0.2`
storybook version: `3.3.15`

storybook is internally using webpack version of `3.10.0`

[2018-05-07 03:38] #38 closed

[2018-05-17 18:55] LoicAG commented on #25
First of all, thanks a lot for this module!
Regarding the `exclude` / `onDetected` confusion: is there any chance you could also put the `exclude` logic before `onDetected` gets fired on version 4 of the module?

[2018-06-19 05:19] njgraf512 opened #39 "Order of cyclic dependencies deterministic/consistent?"
Is the order of cyclic modules that are output in the `paths` array consistent between builds?

[2018-06-19 05:21] njgraf512 commented on #39
Nevermind. I see the same cycles are often output in different orders in the same build.

[2018-06-19 05:21] #39 closed

[2018-07-10 13:06] elmeerr commented on #34
is it possible that I'm facing the same error?

[code]

webpack 4.8.3
cdp: latest

Kind regards

[2018-12-27 00:04] atlanteh commented on #29
@Fer0x I've been trying to solve my issue with it for the last two hours. you saved me! THANKS!

[2019-01-16 13:58] sudheerj opened #40 "Integration with Jenkins CI"
I'am looking for the usage and implementation of this plugin in Vue project. Is there any issue to integrate this plugin for Jenkins CI build

[2019-01-16 14:02] aackerman commented on #40
There shouldn't be any issue with integrating this plugin with a Jenkins CI build.

The plugin is expected to error in the presence of circular dependencies with respect to the plugin configuration options, and that should cause webpack to fail and the build to fail.

[2019-01-16 14:39] sudheerj commented on #40
I hope configuring this plugin with in webpack.dev.config.js file will make it available to Jenkins CI build similar to other plugins. We are going to apply warnings instead errors using the options.

[2019-01-17 14:43] aackerman commented on #40
@sudheerj

1. There are no current plans to include visualization, I think other project handle visualizing webpack much better than I could.
2. Yes, you can provide the `exclude` option with a RegExp to define which files to exclude, it's common to exclude `node_modules`. The README has a good example.

[2019-03-05 23:39] stevenvachon opened #41 "TypeError: plugin.options.exclude.test is not a function"
It appears that this plugin is expecting a `RegExp`, but it should expect multiple types: https://webpack.js.org/configuration/module/#condition

[2019-03-17 07:18] jeremejevs commented on #17
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33952

[2019-04-15 14:30] kruglay opened #42 "Cannot read property 'tap' of undefined"
Hi!
I tried circular-dependency-plugin 4 and 5 version and get the same error.

package.json:

[code]

here my webpack.config.dev.js:
[code]

[2019-04-15 15:36] aackerman commented on #42
Hi @kruglay can you please include you exact versions of the plugin, webpack, and if possible a stack trace. I can take a look at this later tonight.

[2019-04-15 18:10] kruglay commented on #42
[Here](https://nimb.ws/sj4wp8) a screen with error
"circular-dependency-plugin": "5.0.2",
"webpack": "4.27.1",

stack trace from log file:

[code]

[2019-06-06 20:03] unlight commented on #42
[code]
Error in version `circular-dependency-plugin@5.0.2` - Cannot read property 'tap' of undefined
`circular-dependency-plugin@4.4.0` - DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead

[2019-06-06 20:51] aackerman commented on #42
@unlight do you have a stack trace you can include?

Version 5 of the plugin is expected to work with webpack >= 4.0.1 and I would expect that the warning `DeprecationWarning: Tapable.plugin is deprecated. Use new API on .hooks instead` is not for this plugin because the `.hooks` syntax is being used. https://github.com/aackerman/circular-dependency-plugin/blob/master/index.js#L21-L22

[2019-06-06 20:54] aackerman commented on #42
I was also able to test this with Node 10 and webpack 4.29.6 and I didn't run into any issues.

[2019-06-07 19:08] unlight commented on #42
Sorry, my bad. I pasted plugin to wrong place.
After create-react-app eject, I got webpack.config 650+ lines, there several place with `plugins` section, resolve, modules, etc. I lost in debris.

Version 5.0.2 is working ok with webpack@4.29.6 (but not with webpack after react-scripts eject, because it launches webpack in subprocess - that's why is hard to provide stack trace)

[2019-06-08 00:10] aackerman commented on #42
@unlight can you include your version of `create-react-app`? I'm seeing this working with the defaults for these versions.

create-react-app 3.0.1
circular-dependency-plugin 5.0.2
webpack 4.29.6

I essentially ran the following on macOS

[code]

[2019-06-08 00:12] #40 closed

[2019-06-08 19:43] unlight commented on #42
`create-react-app 3.0.0` Clean install works.
So, I do not have complains about plugin, it's my environment issue.

Thank you for great plugin.

[2019-06-09 01:24] #42 closed

[2019-08-09 00:36] kirill-konshin opened #43 "Does not work with Webpack 5"
[code]

[2019-08-10 17:46] stavalfi opened #46 "Incompatibility with ts-loader"
It looks like something breaks this awesome plugin.

----

index.ts:

[code]

editor.tsx

[code]

draw-flow.js

`export default () => {}
`

------

errors: (only with ts-loader)

-----

I minimized one of the packages which those errors appeared:

https://github.com/stavalfi/jstream

branch:  reproduce-bug

run: `yarn install --ignore-scripts && yarn editor`

all the webpack stuff is here: `cd pac

[2019-08-10 17:53] aackerman commented on #46
Would you mind including your plugin configuration?

[2019-08-10 19:23] stavalfi commented on #46
[code]

[2019-08-10 19:41] #43 closed

[2019-08-17 16:51] aackerman commented on #36
The new versions have tags

[2019-08-17 16:51] #36 closed

[2019-08-30 12:58] stavalfi commented on #46
@aackerman did you find out any clues?

[2019-08-31 02:17] aackerman commented on #46
I spent a couple hours, but I wasn't able to figure it out. I wasn't able to generate a test case that appeared to have the same errors and the setup for `jsstream` wasn't clear enough for me to break down why it was causing a problem.

[2019-09-01 16:00] aackerman commented on #46
@stavalfi would you be able to break this down into a smaller test case?

[2019-09-01 16:24] stavalfi commented on #46
yes. your work here is a must have in almost any kind of a build system.

In my build system, i extracted all build-related stuff to a different package in the same mono-repo so it is easier to setup a new package with a complete build in couple of minutes (Create React App for mono repos)

[2019-09-05 15:52] abirmingham commented on #25
For posterity - it appears that `exclude` logic is now executed prior to firing `onDetected`. I am using `circular-dependency-plugin@5.2.0` and saw circular dependency errors reduced from 100 to 96 by adding `exclude: /node_modules/,` to the following configuration:

**Configuration**
[code]

(Note that I believe that `failOnError` is ignored here due to the presence of `onDetected` - it just so h

[2019-09-17 23:17] abirmingham opened #48 "Circular Dependencies Listed Twice"
Hello!

I'm seeing detections which I would consider to be duplicates.

Imagine that I have `a.ts` and `b.ts` and they import from one another, creating a circular dependency. In this case I would expect a single detection like `a.ts -> b.ts -> a.ts`, but instead I see `a.ts -> b.ts -> a.ts` and `b.ts -> a.ts -> b.ts`.

This is easy enough to work around with custom configuration, and I will inclu

[2019-09-19 19:43] abirmingham opened #50 "Typescript Type Dependencies Not Found"
**Steps to Reproduce:**

1. Have a webpack 4 project with typescript.
2. Create file `TableRenderer.ts`:
[code]
3. Create file `Table.ts`:
[code]
4. Run webpack with `circular-dependency-plugin` enabled.

**Expected Result:** Circular dependency of `TableRenderer -> Table -> TableRenderer`.
**Actual Result:** No circular dependency found.

Due to type erasure, and the `circular-dependency-plugin`'

[2019-09-19 20:18] abirmingham commented on #50
Note that pahen/madge appears to avoid the issue of type erasure by parsing/checking the AST directly rather than relying on generated webpack assets (which has pros and cons). I mention it here in case someone is investigating tools to circumvent this issue.

[2020-01-26 03:58] tjx666 opened #52 "still has warnning when excluded"
Although I set /node_modules/ to exclude node_modules detection, there are still some warnings...

![screenshot_2020-01-26_11-39-00](https://user-images.githubusercontent.com/41773861/73130421-eef81680-4032-11ea-910c-f28742689f06.png)

[2020-01-27 03:17] aackerman commented on #52
The warning you posted doesn't appear to be generated by this library. Warnings will be prefixed with `Circular dependency detected` and it will show the full circular path. In your screenshot I see `Critical dependency: ...` so I'm going to go ahead and close this. I wish you luck in fixing this issue on your end. Have a good day!

[2020-01-27 03:17] #52 closed

[2020-04-21 00:05] kirill-konshin opened #55 "SASS files fail with error that file is circular dependency of itself"
[code]

Sass file itself is 100% okay.

The error occurred with Webpack 5.

I am using `style-loader` -> `css-loader` -> `fast-sass-loader`.

[2020-04-21 12:25] aackerman commented on #55
Thanks for the report, I'll do my best to take a look into this, but since it's not JS I won't make any promises.

I would probably add `exclude: /scss/` to my configuration to get around this issue so it isn't a blocker.

[2020-06-11 20:04] sionzeecz commented on #50
Same issue, this plugin needs better typescript support. I'm everyday watching 100+ warnings about circular dependency. (when they are not circular)

[2020-09-09 06:08] ml-devninja opened #59 "Named exports and imports circulars"
Should this be considered as circular dependency?

file `a.ts`
[code]

file `b.ts`

[code]

only the exported named exports are attached to the code with tree shaking enabled, not whole file right?

[2020-10-11 15:07] sindrisig commented on #55
I was trying out webpack 5 and saw this same error for .css & .less files. The only js files that popped up only after updating were files that used modules.exports so that might be something worth investigating

[2020-10-12 11:06] kubijo opened #60 "webpack@5 support"
Hi. Thanks for your work on this. What I come with is a question that sooner or later surely would come anyway and that is whether you are planing a webpack@5 checkup.

I'm now helping with polishing out kinks in it and of issues that came up in my project are many new circular dependency errors — some of which don't make any sense like one file depend on itself.

[2020-10-12 12:22] aackerman commented on #60
Can you post the version of webpack and plugins you're using from your lockfile?

[2020-10-12 12:39] jlchereau commented on #60
[code]
Did not occur with webpack 4.44.2 -> now occurs with webpack 5.0.0

[code]

[2020-10-12 12:41] kubijo commented on #60
Sorry, I'm doing several things at once and @jlchereau was faster, but it's a relevant ... both webpack and the set of plugins. I think the new webpack is the most relevant part

[2020-10-12 12:47] aackerman commented on #60
@jlchereau those appear to be the versions from your package.json, I would like to see the exact version from `package-lock.json` or `yarn.lock`. A lot of people use this module with Webpack 5 so if the issue is with a specific or very recent version I would like to know.

[2020-10-12 13:28] jlchereau commented on #60
[code]

[2020-10-13 03:03] aackerman commented on #60
My tests with the final webpack v5 are coming out the same in this PR https://github.com/aackerman/circular-dependency-plugin/pull/61.

@kubijo did you originally see issues with JS only imports or were you using TS and Sass. Integration with TS and Sass plugins isn't well tested at this point in time.

[2020-10-13 07:01] kubijo commented on #60
I'm at TS and SASS for a very long time

[2020-10-20 08:38] eirikaho commented on #60
I get a circular dependency detected in every file (even index.html) with webpack 5.1.3. Same with webpack 5.0.0. Working fine with webpack 4.44.2.

`
  Error: Circular dependency detected:
  app/index.html -> app/index.html
`

[2020-10-20 15:22] akphi commented on #60
@eirikaho might have to do with `html-webpack-plugin` if you're using it. But anyway, for me what I did was to only count JS/TS file using the include pattern ```include: /app.+\.(j|t)sx?$/,```

[2020-10-20 15:31] aackerman commented on #60
I'll take a look at webpack 5.1, but my tests are relatively thorough for integration with webpack 4.x.x and 5.0.0 with no other plugins. Which is what I've focused on so far.

If you are having an issue with how this plugin works in the presence of other plugins please include a listing of the specific webpack version, and versions of all webpack plugins, along with the specific output you are se

[2020-10-21 10:41] xenobytezero commented on #60
If it helps, my Lit Element starter repo is showing this problem

https://github.com/xenobytezero/lit-element-starter

I have commented out the plugin in the webpack.config.js, uncommenting should show the error we are seeing.

Webpack - 5.1.3
CircularDependencyPlugin - 5.2.0

[code]

[2020-10-27 11:28] kubijo commented on #60
FWIW a get theese now after I've revisited the webpack upgrade:

[code]

[2020-10-30 23:49] deej-split commented on #60
fwiw, i'm also seeing this, also on every file in the repo.  I turned off all plugins.  I am running with node 12, and the following packages:

[code]

My stripped down webpack file is:
[code]

NOTE: I am running this with `webpack serve`.  I haven't verified if I've got everything set to the optimal es5 or es6 module types.

I'm sorry that I don't have time right now to set up a demo repo.  I'll

[2020-10-31 02:36] aackerman commented on #60
I've just published 5.2.1. I have a good feeling that the new version will solve the issue everyone in this thread has experienced. I'll wait to close this until someone else can confirm.

[2020-10-31 02:44] tranvansang commented on #60
@aackerman

I've installed 5.2.1 and confirmed the problem gone. I think you can close the issue.

Thanks for the work.

[2020-10-31 03:04] aackerman commented on #60
Thanks @tranvansang

[2020-10-31 03:04] #60 closed

[2020-10-31 12:49] kubijo commented on #60
@aackerman

So … I've tried to upgrade and I still get cycles with just two `paths` & both of them are the same module…

This is my plugin config

[code]

[code]

I don't get it really… what would help you find the culprit?

[2020-10-31 12:54] kubijo commented on #60
Here's an excerpt from my `yarn.lock` (seemingly relevant ones)

[code]

…and this is a loader config that might be relevant

[code]

[2020-10-31 15:03] aackerman commented on #60
@kubijo please try version 5.2.2. I discovered an issue that affected modules compiled with typescript. More generally this plugin will now ignore all circular dependencies where a module appears to be directly importing itself due to the way webpack internals codifies dependencies.

[2020-10-31 22:00] aackerman commented on #59
In this case the code would work, but the plugin isn't sophisticated enough to determine whether a dependency is immediately used, which would be an issue or is used later which isn't an issue.

I'm going to close this because at this point the plugin only considers full file dependencies and not specific exports and I don't have intentions to support that functionality.

[2020-10-31 22:00] #59 closed

[2020-10-31 22:01] aackerman commented on #55
I believe this is fixed in 5.2.2. I'm going to go ahead and close. If you're still seeing this issue I'll reopen.

[2020-10-31 22:01] #55 closed

[2020-10-31 22:03] aackerman commented on #46
I believe this is fixed in 5.2.2. Please let me know if it's not and I will reopen.

[2020-10-31 22:03] #46 closed

[2020-11-01 17:30] deej-split commented on #60
@aackerman 5.2.2 worked for me!  Thank you very much!

[2020-11-04 11:52] woophi opened #62 "Performance degradation webpack 5.3.2 + this plugin 5.2.2 on recompile"
Upgrading to latest circular-dependency-plugin causes  performance degradation on recompile in dev mode.

with plugin ~12s
![image](https://user-images.githubusercontent.com/23319212/98106438-a4e17280-1e99-11eb-8433-57e4af9f5e7e.png)

without plugin ~2.5s
![image](https://user-images.githubusercontent.com/23319212/98106625-c7738b80-1e99-11eb-9a2b-be412345dc41.png)

current webpack configuration:
[

[2020-11-04 17:30] aackerman commented on #62
I recommend not using this in dev mode where you want/need fast compilation, 6 seconds is brutal enough.

I have no strong intentions to make this plugin faster because I recommend it to be used to trigge errors in CI and if the duration is 12 seconds in CI, that's not important enough to micro-optimize.

[2020-11-04 17:30] #62 closed

[2020-12-09 00:26] zlk89 commented on #62
Is it possible to make this plugin to run in separate thread, similar with the ForkTsCheckerWebpackPlugin?

[2020-12-12 02:27] FMaz008 opened #63 "Improve readme.md"
Is it possible to improve the readme.md to be more explicit as to how to implement this plugin ?
As in provinding a few example on how to download it and use it with common project (npm/node, etc)

[2021-01-09 01:58] haripriyaaganesan opened #64 "webpack@5.11.1 support with circular dependency"
I'm migrating my project from webpack@4.41.2 -> webpack@5.11.1. I'm running into circular dependency issue.

Error: Circular dependency detected:
assets/images/card_auth_illustration.png -> assets/images/card_auth_illustration.png

ERROR in   Error: Child compilation failed:
  Circular dependency detected:
  src/index.html -> src/index.html
  Error: Circular dependency detected:
  src/index.html -

[2021-01-15 12:58] vbraun opened #65 "Circular dependency checker can be slow"
Angular runs circular-dependency-plugin on each incremental build, so speed is somewhat important

On a largeish hybrid app with complicate imports (in particular, the angularjs part doesn't use modules / barrel files, so the import graph is pretty complicated) a no-change incremental build is about 8s with and 3s without circular dependency checking on a state of the art desktop.

Initially repor

[2021-03-04 21:32] jtbandes opened #67 "Support for ignoring lazy (not weak) async imports"
The note on allowAsyncCycles gives an example of using it for weak imports:

[code]

But it would be nice if this also worked for regular async imports that aren't marked with `webpackMode: "weak"`. It sounds like the default mode for async imports is `lazy`. https://webpack.js.org/api/module-methods/#magic-comments

[2021-03-05 03:58] jtbandes commented on #67
After some further testing I've noticed that this reproduces when using TypeScript with the compiler flag `"module": "commonjs"`.

[2021-03-12 15:51] Franatec opened #69 "Webpack 5"
Related https://github.com/aackerman/circular-dependency-plugin/issues/60

**Setup**

I'm migrating my project from Webpack 4 to 5. Circular-dependency-plugin was running without errors in Webpack 4, in 5 index.js imports are being marked as circular dependency errors.

[code]

**package-lock.json**

[code]

I'm pretty sure the following is not a circular dependency, but I'd like some feedback. I

[2021-03-12 17:40] aackerman commented on #69
I haven't seen this specific issue before but I would assume it goes away if your import is in `file1b` is changed to `import { file1a } from './index'`. I'm not sure how ` import ... from './'` is supposed to work

[2021-03-12 18:24] Franatec commented on #69
@aackerman, unfortunately using `./index` makes no difference.

Import from './' just references the folder which by default looks at the `index.js` first - so just shorthand for `./index`, really.

**gtagEvents.js**
[code]

**RouteAnalytics.jsx**
[code]

**index.js**
[code]

**output**
[code]

[2021-03-14 02:14] aackerman commented on #69
Maybe I'm misunderstanding your question but your latest example looks circular to me, it wouldn't be if `RouteAnalytics` imported `gtagEvents` instead of `index`

[2021-03-14 02:18] aackerman commented on #64
@haripriyaaganesan which version of the plugin were you using? As of 5.2.2 the intent is to never list a self reference circular dependency.

[2021-03-15 16:09] ghost commented on #69
@aackerman, I've been using it like this for years, but looks like you're right. Even though it works, it may be causing other issues. Looks like I have a lot of refactoring to do -- I use this format all over my project. Here's a related [stackexchange link](https://stackoverflow.com/questions/49116860/webpack-es6-modules-circular-dependencies-when-using-index-files) for anybody else who runs int

[2021-03-15 16:09] #69 closed

[2021-04-06 15:43] Doodidan commented on #64
I catch this bug on `5.0.2`. Upgrading to `5.2.2` helps me, everything is ok now.

[2021-06-10 11:40] Smoothsmith opened #76 "Support for ignore React.lazy async imports"
Apologies if this is too similar to https://github.com/aackerman/circular-dependency-plugin/issues/67 - I think this issue I'm having would require a slightly different solution so decided on a new issue.

The 'allowAsyncCycles' flag does not seem to prevent imports like this from being highlighted/warned about:
`const TestView= React.lazy(() => import('views/TestView'));`

To clarify what I'm att

[2021-06-23 19:57] Nantris opened #78 "Log to file?"
We tried wiring things up to have a file generated at startup, but unfortunately we can't find a way to prevent the plugin from constantly re-creating the files when the project is refreshed. If we try something like setting `isCompleted = true` inside of `onEnd()` - but `isCompleted` ends up being set to `true` before we'd expect and so no report files are generated. I looked at the code but can'

[2021-06-23 20:13] Nantris commented on #78
Hard to guess... But logging to a file I found that the order of operations looks like this on startup:

1. `onStart` <<< What's going on here?
2. `onEnd` <<< What's going on here?
3. `onStart`
4. `onDetected` (however many times a circular dependency is detected
5. `onEnd`

Anybody have any insights?

I was guessing maybe this has to do with multiple entry points, but we have three entry points a

[2021-06-23 20:42] Nantris commented on #78
The only workaround we can find is to do this in `onEnd`

`if (numCyclesDetected) isCompleted = true;`

When we do this, we avoid the false instant-completion from the initial `onStart`/`onEnd` runs. I have no idea what might cause this, but the workaround works, at least somewhat.

[2021-06-23 20:47] Slapbox commented on #78
Nope, nevermind... reports still get re-written on every refresh if we do that... ugh.

[2021-07-02 22:10] dko-slapdash opened #79 "@types/circular-dependency-plugin is not compatible with Webpack 5"
Hi.

@types/circular-dependency-plugin has a different webpack version dependency, so Compiler type is incompatible:

[code]

[2021-07-06 18:41] wdfinch commented on #79
Also getting this

[2021-08-31 09:47] Yangfan2016 commented on #34
+1
"circular-dependency-plugin": "^5.2.2",
 "webpack": "^4.44.1",

[2021-08-31 09:50] Yangfan2016 opened #82 "Cannot read property 'tap' of undefined"
[code]

[code]

[2021-11-16 12:09] makarov-roman commented on #82
I've got the same error when I put this plugin to `config.resolve.plugins` instead of `config.plugins`

[2021-11-16 17:52] leopucci opened #84 "TypeError: plugin.options.include.test is not a function"
Having some trouble configuring this plugin to work on the code!

[2021-11-16 17:53] leopucci commented on #84
https://github.com/aackerman/circular-dependency-plugin/issues/41

[2021-11-16 18:07] leopucci commented on #84
Seems that the path that i configured was wrong. I inserted a path string but it was a regexp.
BTW did not detected anything on first config, I had to add the advanced mode
[code]
Then printed the circular dependency

[2021-11-16 18:07] #84 closed, assigned to nobody

[2021-12-15 00:01] hedgepigdaniel commented on #65
It's linear in the number of modules + dependencies. Can you do better than that to find if a cycle exists?

[2022-02-12 03:08] Sunzhuoyi opened #87 "This plugin does not appear to work in webpack=> 4.64.4 typeScript => 4.5.5 react=> 17.0.2 environments"

[2022-02-18 09:15] gbiryukov commented on #79
Typings [should support `@5` ](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/circular-dependency-plugin/package.json#L4)

If you getting this error this means your lock file pinned previous minor version of webpack as dependency for tis plugin resulting in types incompatibility.

You can use tool like `yarn-deduplicate` to fix your lock file and sync version back

[2022-02-18 13:44] aackerman commented on #79
The project `@types/circular-dependency-plugin` is supported by a different maintainer

[2022-02-18 13:44] #79 closed, assigned to nobody

[2022-02-22 17:38] fatalcaron commented on #87
Same problem for us, the plugin does not work anymore.
[code]

[2022-03-25 14:27] momesana commented on #50
We have the same issue as @sionzee and the opposite problem of the original poster of this issue (@abirmingham) with webpack 5.70 and the circular-dependency-plugin version 5.2.2. Type imports do not pose run-time issues as they are resolved and erased during the compilation process. We are only interested in circular dependencies that may occur during run-time. The plugin however also reports tho

[2022-04-11 11:06] magicznyleszek commented on #64
~~I'm upgrading `webpack` from v4 to v5, and and am currently using `5.72.0` with `circular-dependency-plugin@5.2.2` and I get a long list of self referencing files. As a temporary solution I did this:~~

[code]

~~(I use warnings instead of errors)~~

Turned out I was running it with `5.2.0` as I forgot to `npm install` after switching branches. Sorry for trouble!

[2022-05-25 09:59] MetRonnie opened #89 "Escaped forward slashes in paths do not work on Windows"
E.g.
[code]
works on Linux but on Windows I get the cyclic dependency errors for that component.

A workaround is to use `[\/\\]` instead of just `\/`. Is there a better way?

[2022-06-28 16:58] niksrc opened #90 "Fast builds during development"
`CircularDependencyPlugin` is currently too expensive to run during development, especially during hot reloads where it can take more than ~50% of the total build time.
Reference: #62 / https://github.com/angular/angular-cli/issues/19794

`optimizeModules` hook is currently used to support setups with `ModuleConcatenationPlugin` enabled. In most setups though, `ModuleConcatenationPlugin` is disabl

[2022-07-04 14:47] #90 closed, assigned to nobody

[2022-11-15 20:57] OliverJAsh commented on #90
@niksrc Where did you land on this?

[2022-11-16 09:09] niksrc commented on #90
Unfortunately, the above design didn't work. I was able to make it go faster by running the checks once every 2 minutes:
https://github.com/gathertown/circular-dependency-plugin#differences-from-the-upstream-repo